body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* overflow-y: hidden; */

}

html {
  scrollbar-color: grey white;
  scrollbar-width: thin;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


@font-face {
  font-family: "Gotham";
  src: local("GothamBold"),
  url("./fonts/Spotify/GothamBold.ttf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "Monserrat";
  src: local("MontserratBold"),
  url("./fonts/montserrat/Montserrat-Bold.ttf") format("truetype");
  font-weight: bold;
}